body {
  height: 95vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

.title {
  text-align: center;
  margin: 3vh auto;
}

.availability {
  text-align: center;
  margin: 5vh auto 15vh;
}

.message {
  margin: 0 auto 1vh;
}

.elaboration {
  margin: 0;
}

.detail-section {
  width: 100%;
  height: 45vh;
  display: flex;
}

.detail-container-small,
.detail-container-large {
  max-height: 45vh;
  margin: 0 auto;
  text-align: center;
}

.detail-container-small {
  width: 30vw;
}

.detail-container-large {
  width: 40vw;
}

.detail-title-container {
  margin: 0;
}

.detail-title {
  text-align: center;
  width: 100%;
  margin: auto;
}

.detail-content-container-small,
.detail-content-container-large {
  margin: auto;
  padding: 1vh 1vw;
  max-height: 42vh;
}

.detail-content-container-small {
  max-width: 27vw
}

.detail-content-container-large,
.detail-content-container-large > img {
  max-height: 42vh;
  max-width: 37vw;
}

.stress-level {
  margin: 0;
}

.display-time {
  margin-bottom: 0;
}

@media screen and (max-height: 400pt) {
  
  .title {
    margin: 1vh auto;
  }

  .availability {
    margin: 2vh auto 6vh;
  }

}